<p>empleado works!</p>
<p>Nombre del empelado: {{nombre}}</p>
<p>apellido del empelado: {{apellido}}</p>
<p>edad del empelado: {{getEdad() >18?"mayor":"menor"}}</p>
<p>Empresa del empleado: {{empresa}}</p>

<p>introduce la data:</p>
<input type="text" #ingresarEmpresa >
<!-- (keyup)="llamaEmpresa(ingresarEmpresa.value)" -->
<br/>
<br/>

<input type="button" value="aceptar" (click)="llamaEmpresa(ingresarEmpresa.value)" [disabled]="usuRegistrado">

<br/>

<p>{{textoDeRegistro}}</p>
<p>Registrado: <input type="checkbox" id="registro" [checked]="usuRegistrado" (click)="getRegistroUsuario(usuRegistrado)" ></p>

<p >{{usuRegistrado}}</p>


<p>Nombre usuario:  <input type="text" [(ngModel)]="nombre"></p>
<input type="text" (input)="cambiaNombre($event)" >


<!-- {{getRegistroUsuario()}} -->

<p>Registrado: <input type="radio" value="si" name="nRegistro" id="registros" [checked]="usuRegistrado" (click)="getRegistroOption($event)" ></p>
<p>No registrado: <input type="radio" value="no" name="nRegistro" [checked]="!usuRegistrado" (click)="getRegistroOption($event)">  </p>

